<app-main-background [headline]="'Create Account'">
    <section class="section" slot="content">
        <div class="inputs-container">
            <div class="input-div">
                <p>Username</p>
                <input [ngClass]="{'input-error': errors['username']}" [(ngModel)]="user.username" placeholder="exampleUser22" class="input" type="text">
            </div>
            <div class="input-div">
                <p>Email</p>
                <input [ngClass]="{'input-error': errors['email']}" [(ngModel)]="user.email" placeholder="example@example.com" class="input" type="email">
            </div>
            <div class="input-div">
                <p>Mobile Number</p>
                <input [ngClass]="{'input-error': errors['mobile_number']}" [(ngModel)]="user.mobile_number" placeholder="+49 123 12345678" class="input" type="number">
            </div>
            <div class="input-div">
                <p>Date Of Birth</p>
                <input maxlength="10" (input)="formatDate()"  [ngClass]="{'input-error': errors['date_of_birth']}" [(ngModel)]="user.date_of_birth" placeholder="DD / MM / YYYY" class="input" type="text">
            </div>
            <div class="input-div">
                <p>Password</p>
                <input [ngClass]="{'input-error': errors['password'] || errors['wrong_confirm_password']}" [(ngModel)]="user.password" [type]="passwordVisible ? 'text' : 'password'" placeholder="●●●●●●●●" class="input" >
                <img (click)="togglePasswordVisibility()" class="eye-img"
                [src]="passwordVisible ? '/assets/icons/eye-on.svg' : '/assets/icons/eye-off.svg'" alt="">
            </div>
            <div class="input-div">
                <p>Confirm Password</p>
                <input [ngClass]="{'input-error': errors['confirm_password']|| errors['wrong_confirm_password']}" [(ngModel)]="user.confirm_password" [type]="confirmedPasswordVisisble ? 'text' : 'password'" placeholder="●●●●●●●●" class="input" >
                <img (click)="toggleConfirmedPasswordVisibiliy()" class="eye-img"
                [src]="confirmedPasswordVisisble ? '/assets/icons/eye-on.svg' : '/assets/icons/eye-off.svg'" alt="">
                <p class="wrong-confirm-password" [ngClass]="{'confirm-password-error': errors['wrong_confirm_password']}"> Passwörter stimmen nicht überein</p>
            </div>
        </div>
        <div class="sign-up-container">
            <div>
                <p>By continuing, you agree to</p>
                <p><a class="tos-link" href="">Terms of Use</a> and <a class="pp-link" href="">Privacy Policy</a>.</p>
            </div>
            <button (click)="registerUser()" class="signup-btn">Sign Up</button>
        </div>
    </section>
</app-main-background>