<section>
    <div class="main-div">
        <div class="period-container">
            <div (click)="fetchData('daily')" class="period">Daily</div>
            <div (click)="fetchData('weekly')" class="period">Weekly</div>
            <div (click)="fetchData('monthly')" class="period">Monthly</div>
            <div (click)="fetchData('yearly')" class="period">Year</div>
        </div>
        <div class="bar-chart-section">
            <app-bar-chart></app-bar-chart>
        </div>
        <div class="income-expense-overview-container">
            <div class="income-container">
                <img src="/assets/icons/income-green.svg" alt="">
                <p>Income</p>
                <p class="income-amount">${{ totalIncome.toFixed(2) }}</p>
            </div>
            <div class="expense-container">
                <img src="/assets/icons/expense-blue.svg" alt="">
                <p>Expense</p>
                <p class="expense-amount">${{ totalExpenses.toFixed(2) }}</p>
            </div>
        </div>
        <div></div>
    </div>
</section>