<section>
    <div class="main-div">
        <div class="period-container">
            <div [ngClass]="{'period-active': selectedPeriod === 'daily'}" (click)="fetchData('daily')" class="period">
                Daily</div>
            <div [ngClass]="{'period-active': selectedPeriod === 'weekly'}" (click)="fetchData('weekly')"
                class="period">Weekly</div>
            <div [ngClass]="{'period-active': selectedPeriod === 'monthly'}" (click)="fetchData('monthly')"
                class="period">Monthly</div>
            <div [ngClass]="{'period-active': selectedPeriod === 'yearly'}" (click)="fetchData('yearly')"
                class="period">Year</div>
        </div>
        <div class="bar-chart-section">
            <app-bar-chart></app-bar-chart>
        </div>
        <div class="income-expense-overview-container">
            <div class="income-container">
                <img src="/assets/icons/income-green.svg" alt="">
                <p>Income</p>
                <p class="income-amount">${{ totalIncome.toFixed(2) }}</p>
            </div>
            <div class="expense-container">
                <img src="/assets/icons/expense-blue.svg" alt="">
                <p>Expense</p>
                <p class="expense-amount">${{ totalExpenses.toFixed(2) }}</p>
            </div>
        </div>
        <div class="target-container">
            <div>
                <p>My Targets</p>
            </div>
            <div class="targets">
                <div class="target-one"></div>
                <div class="target-two"></div>
            </div>
        </div>
    </div>
</section>