<section>
    <div class="main-background">
        <div class="main-container">
            <ng-content select="[slot='green-content']"></ng-content>
        </div>
        <div class="white-main-page">
            <ng-content select="[slot='white-content']"></ng-content>
        </div>
        <div class="footer-nav-bar">
            <img src="/assets/icons/home.svg" alt="">
            <img src="/assets/icons/lupe.svg" alt="">
            <img src="/assets/icons/arrows.svg" alt="">
            <img src="/assets/icons/burgermenu.svg" alt="">
            <img src="/assets/icons/profile-icon.svg" alt="">
        </div>
    </div>
</section>