<section>
    <div class="main-background">
        <div class="main-container">
            <ng-content select="[slot='green-content']"></ng-content>
        </div>
        <div class="white-main-page">
            <ng-content select="[slot='white-content']"></ng-content>
        </div>
        <div class="footer-nav-bar">
            <div routerLink="/dashboard/home" [ngClass]="{'active-tab': currentRoute === '/dashboard/home'}" class="footer-icon-container">
                <img class="footer-icons" src="/assets/icons/home.svg" alt="">
            </div>
            <div routerLink="/dashboard/analysis" [ngClass]="{'active-tab': currentRoute === '/dashboard/analysis'}" class="footer-icon-container">
                <img class="footer-icons" src="/assets/icons/lupe.svg" alt="">
            </div>
            <div routerLink="/dashboard/transaction" [ngClass]="{'active-tab': currentRoute === '/dashboard/transaction'}" class="footer-icon-container">
                <img class="footer-icons" src="/assets/icons/arrows.svg" alt="">
            </div>
            <div class="footer-icon-container">
                <img class="footer-icons" src="/assets/icons/burgermenu.svg" alt="">
            </div>
            <div class="footer-icon-container">
                <img class="footer-icons" src="/assets/icons/profile-icon.svg" alt="">
            </div>
        </div>
    </div>
</section>