@import "../../../../styles.scss";

section {
    width: 100vw;
}

.header {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 24px;
    width: 100%;
}

.headline {
    font-family: $poppins;
    font-size: 20px;
    font-weight: bolder;
}

.arrow-left {
    width: 40px;
    height: 40px;
}

.total-balance-container {
    width: 80%;
    height: 80px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.financials-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

.financials {
    width: 40%;
    background-color: white;
    height: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.total-balance-text{
    font-size: 18px;
    color: $dark-green;
    font-family: $poppins;
    font-weight: bolder;
}

.total-balance-amount{
    font-size: 24px;
    font-weight: bold;
    font-family: $poppins;
}