<section>
    <div class="main-div">
        <div class="list-header">
            <div *ngIf="currentMonth" class="month-header">
                <span class="currentMonth">{{ currentMonth }}</span>
            </div>
            <img (click)="toggleCalendar()" class="calender-icon" src="/assets/icons/small-calender.svg" alt="">

        </div>
        <p-calendar #calendar [(ngModel)]="selectedDate" [showIcon]="false" [appendTo]="'body'" [inline]="false">
        </p-calendar>
        <div (scroll)="onScroll()" class="list">

            <div [attr.data-expense-id]="expense.id" *ngFor="let expense of expensesList ; let i = index"
                class="overview-information-container  month-group">
                <div><img class="overview-icon" src="/assets/icons/blue-dollar-icon.svg" alt=""></div>

                <div class="overview-informations">
                    <div>
                        <p>{{ expense.category.length > 6 ? (expense.category | slice:0:7) + '...' : expense.category}}
                        </p>
                        <p class="overview-time-detail">{{expense.date}}</p>
                    </div>
                    <div class="overview-seperator"></div>
                    <div class="overview-period-description">{{ expense.description.length > 9 ? (expense.description |
                        slice:0:9) + '...' : expense.description }}</div>
                    <div class="overview-seperator"></div>
                    <div class="expense-amount">{{expense.amount}}</div>
                </div>
            </div>
        </div>
    </div>
</section>