<section>
    <div class="main-div">
        <div class="list-header">
            <img class="calender-icon" src="/assets/icons/small-calender.svg" alt="">
        </div>
        <div class="list">
            <div *ngFor="let expense of expensesList"  class="overview-information-container">
                <div><img class="overview-icon" src="/assets/icons/blue-dollar-icon.svg" alt=""></div>
                <div class="overview-informations">
                    <div>
                        <p>{{expense.category}}</p>
                        <p class="overview-time-detail">2025-03-07</p>
                    </div>
                    <div class="overview-seperator"></div>
                    <div class="overview-period-description">geschäft</div>
                    <div class="overview-seperator"></div>
                    <div class="expense-amount">500€</div>
                </div>
            </div>
        </div>
    </div>
</section>