@import "../../../../styles.scss";


section {
    width: 100vw;
    font-family: $poppins;
    // overflow-y: auto;
    max-height: 60vh;
}

.main-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.list-header {
    width: 100%;
    display: flex;
    height: 30px;
    margin-top: 40px;
    justify-content: space-between;
    padding-inline: 32px;
    box-sizing: border-box;  
  }

.currentMonth{
    font-size: 24px;
    font-family: $poppins;
}

.list {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    overflow: scroll;
    height: 50vh;
  }

  .overview-information-container {
    display: flex;
    align-items: center;
    gap: 16px;
    min-height: 60px;
  }
  
  .overview-informations {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .overview-time-detail {
    font-size: 12px;
    color: $ocean-blue;
    font-weight: bolder;
  }

  .overview-seperator {
    width: 2px;
    height: 40px;
    background-color: $main-green;
  }

  .overview-period-description {
    font-size: 13px;
    width: 80px;
    display: flex;
    justify-content: center;
  }

  .expense-amount{
    width: 80px;
  }

  .fixed-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .test{
    position: absolute	;
  }