@import '../../../../styles.scss';


.chart-container {

    width: 357px;
    height: 247px;
    margin: auto;
    background-color: $light-green;
    border-radius: 15%;
    padding: 16px
}

.chart-header {}