@import '../../../../styles.scss';


.chart-container {

    width: 357px;
    height: 247px;
    margin: auto;
    background-color: $light-green;
    border-radius: 15%;
    padding: 16px
}

.chart-header {
    display: flex;
    justify-content: space-between;
    padding-inline: 8px;

    >div{
        display: flex;
        gap: 4px;
    }

    >p{
        font-weight: bolder;
        font-family: $poppins;
    }
}