<section>
    <div class="main-div">
        <div class="green-overview">
            <div class="left-green-overview-site">
                <div class="radial-progress-bar">
                    <svg viewBox="0 0 100 100">
                        <circle class="background" cx="50" cy="50" r="45"></circle>
                        <circle class="progress" cx="50" cy="50" r="45" [style.strokeDashoffset]="progressOffset">
                        </circle>
                        <text x="50" y="50" class="percentage" text-anchor="middle" dy="0.3em">
                        </text>
                    </svg>
                    <img src="/assets/icons/caricon.svg" alt="Progress Icon" class="progress-icon">
                </div>
                <p>Savings <br> On Goals</p>
            </div>
            <div class="seperator"></div>
            <div class="right-green-oview-site">
                <div class="revenue-container">
                    <img class="green-overview-icons" src="/assets/icons/dollar-icon.svg" alt="">
                    <div class="right-side-text-container">
                        <p>Revenue Last Week</p>
                        <p class="revenue-amount">$400000</p>
                    </div>
                </div>
                <div class="seperator2"></div>
                <div class="food-container">
                    <img class="green-overview-icons" src="/assets/icons/food-icon.svg" alt="">
                    <div class="right-side-text-container">
                        <p>Food Last Week</p>
                        <p class="food-last-week-amount">-$100</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="period-container">
            <div [ngClass]="{'active': selectedFilter === 'housing'}" class="daily-container"
                (click)="getFilteredExpenses('housing')">
                <p>Housing</p>
            </div>
            <div [ngClass]="{'active': selectedFilter === 'food'}" class="daily-container" class="weekly-container"
                (click)="getFilteredExpenses('food')">
                <p>Food</p>
            </div>
            <div [ngClass]="{'active': selectedFilter === 'transportation'}" class="daily-container"
                class="monthly-container" (click)="getFilteredExpenses('transportation')">
                <p>Transport</p>
            </div>
        </div>
        <div class="period-list">
            <div *ngFor="let expense of expensesList | slice:-3" class="overview-information-container">
                <div><img class="overview-icon" src="/assets/icons/blue-dollar-icon.svg" alt=""></div>
                <div class="overview-informations">
                    <div>
                        <p>{{ expense.category | titlecase }}</p>
                        <p class="overview-time-detail">{{expense.date}}</p>
                    </div>
                    <div class="overview-seperator"></div>
                    <div class="overview-period-description">{{expense.description}}</div>
                    <div class="overview-seperator"></div>
                    <div>{{expense.amount}}</div>
                </div>
            </div>

            <div></div>
            <div></div>
        </div>
    </div>
</section>