<section>
    <div class="intro">
        <div class="intro-logo-container">
            <img class="intro-logo" src="/assets/icons/intro-logo.svg" alt="">
        </div>
        <div class="intro-headline-container">
            <h1 class="intro-headline">FinWise</h1>
        </div>
    </div>
    <div class="main-content">
        <div class="logo-container">
            <img class="logo" src="/assets/icons/logo.svg" alt="">
            <h1 class="headline">FinWise</h1>
        </div>
    </div>
</section>