<section>
    <div class="intro">
        <div class="intro-logo-container">
            <img class="intro-logo" src="/assets/icons/intro-logo.svg" alt="">
        </div>
        <div class="intro-headline-container">
            <h1 class="intro-headline">FinWise</h1>
        </div>
    </div>
    <div class="main-content">
        <div class="logo-container">
            <img class="logo" src="/assets/icons/logo.svg" alt="">
            <h1 class="headline">FinWise</h1>
            <p class="finwise-text">Mehr Kontrolle. Mehr Überblick. </p>
            <p class="finwise-text">Mehr Möglichkeiten - mit FinWise.</p>
        </div>
        <div class="button-container">
            <button class="login-btn">Log In</button>
            <button class="signup-btn"> Sign Up</button>
            <a class="forgot-passwort-link" href="">Forgot Password?</a>
        </div>
    </div>
</section>
