@import "../../styles.scss";

.intro {
  width: 100vw;
  height: 100vh;
  background-color: $main-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: background-transition 2s forwards ease-in-out;
  z-index: 10;
  // overflow: visible;

}

.intro-logo-container {
  // position: relative;
  overflow: visible;
}

.intro-logo {
  width: 109px;
  height: 114px;
  animation: logo-move 1.5s forwards ease-in-out;

}

.intro-headline {
  font-size: 52px;
  font-family: $poppins;
  color: white;
  font-weight: 600;
  opacity: 1;
  animation: text-fade-out 0.5s 1.5s forwards ease-in-out;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo {
  width: 109px;
  height: 114px;
  opacity: 0;
  animation: logo-fade-in 1.5s 0.5s forwards ease-in-out;
}

.headline {
  font-size: 52px;
  font-family: $poppins;
  color: $main-green;
  font-weight: 600;
}

.main-content {
  height: 100vh;
  width: 100vw;
  margin-top: 25vh;
}

.finwise-text {
  text-align: center;
  font-family: $poppins;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;
}

.login-btn {
  width: 207px;
  height: 45px;
  border-radius: 48px;
  border: none;
  background-color: $main-green;
  font-size: 20px;
  color: $fence-green;
  font-family: $poppins;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn {
  width: 207px;
  height: 45px;
  border-radius: 48px;
  border: none;
  background-color: $light-green;
  font-size: 20px;
  color: $fence-green;
  font-family: $poppins;
  font-weight: 600;
  cursor: pointer;
}

.forgot-passwort-link{
  text-decoration: none;
  color: black;
  font-family: $poppins;
  font-size: 13px;
  font-weight: 600;
}


/* Animationen */
@keyframes background-transition {
  0% {
    background: $main-green;
    /* Start: Dunkelgrün */
  }

  100% {
    background: white;
    /* Ende: Weiß */
    opacity: 0;
    /* lasse den Hintergrund entgültig verschiwnden, um den hauptcontainer anzuzeigen */
    display: none;
  }
}

@keyframes logo-move {
  0% {
    transform: translateY(0);
    /* Start in der Mitte */
    opacity: 1;
    /* Voll sichtbar */
  }

  80% {
    opacity: 1;
    /* Immer noch sichtbar, bis kurz vor Ende */
  }

  100% {
    transform: translateY(-15vh);
    opacity: 0;
    /* Nach oben bewegen */
    color: #66bb6a;
    /* Hellgrün */
  }
}

@keyframes text-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    /* Text verschwindet */
    display: none;
  }
}

@keyframes logo-fade-in {
  0% {
    opacity: 0;
    /* Unsichtbar */
  }

  100% {
    opacity: 1;
    /* Sichtbar */
  }
}