<section>
    <div>
        <div class="header">
            <div class="headline">
                <h3>Hi, Welcome Back</h3>
                <p>Good {{greeting}}</p>
            </div>
            <img class="bell-icon" src="/assets/icons/glocke.svg" alt="">
        </div>
        <div class="totals">
            <div class="total-balance">
                <div class="total-header">
                    <img src="/assets/icons/income.svg" alt="">
                    <p>Total Balance</p>
                </div>
                <p class="amount-number">${{totalBalance}}</p>
            </div>
            <div class="seperator"></div>
            <div class="total-expense">
                <div class="total-header">
                    <img src="/assets/icons/expense.svg" alt="">
                    <p>Total Expense</p>
                </div>
                <p class="expense-number">-${{totalExpenses}}</p>
            </div>
        </div>
        <div class="progress-bar-container">
            <div class="progress-bar-outside">
                <div class="progress-bar" [style.width.%]="progressPercentage">
                    <p>{{progressPercentage}}%</p>
                </div>
                <p class="target">${{targetSavings}}</p>
            </div>
        </div>
        <div class="motivation-percent-text">
            <img src="/assets/icons/check.svg" alt="">
            <p>
                {{progressPercentage}}% of Your Target. {{targetText}}</p>
        </div>

    </div>
</section>