@import "../../../../styles.scss";

section {
    width: 100vw;
}

.header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
}

.headline {
    font-family: $poppins;
    color: $fence-green;
    display: flex;
    flex-direction: column;

    h3 {
        line-height: 1;
    }

    >p {
        font-size: 14px;
        line-height: 1.2;
    }
}

.total-header{
    display: flex;
    gap: 4px;
}

.totals{
    display: flex;
    gap: 24px;
}

.seperator{
    height: 40px;
    width: 2px;
    background-color: white;
}

.amount-number{
    color: white;
    font-family: $poppins;
    font-size: 24px;
    font-weight: bold;
}