@import "../../../../styles.scss";

section {
    width: 100vw;
}

.header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
}

.headline {
    font-family: $poppins;
    color: $fence-green;
    display: flex;
    flex-direction: column;

    h3 {
        line-height: 1;
    }

    >p {
        font-size: 14px;
        line-height: 1.2;
    }
}